body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #161617;
  color: #e3e6ef;
  height: 100vh;
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.header {
  border: 1px solid rgba(227, 230, 239, 0.12);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  background-color: #161617;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 50px;
}

.logo,
.logo a {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1em;
  color: #e3e6ef;
  text-align: left;
  margin: 0;
  width: 25%;
  cursor: pointer;
  text-decoration: none;
}

.navigation {
  width: 75%;
}

.hamburger,
.close_hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 40px;
}

.nav-list .nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1em;
  color: #e3e6ef;
  text-decoration: none;
}

.content-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #c1c7d1b2;
  padding: 40px;
  border-radius: 10px;
}

.inner-container {
  width: 300px;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#display {
  flex: 1;
  height: 60px;
  background-color: transparent;
  border: 1px solid rgba(227, 230, 239, 0.12);
  color: #e3e6ef;
  border-radius: 50px;
  font-size: 30px;
  text-align: right;
  padding: 10px 30px;
  margin-bottom: 10px;
  outline: none;
}
.row {
  display: flex;
}
.button {
  flex: 1;
  margin: 5px;
  border: none;
  border-radius: 50%;
  height: 60px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button.operator {
  background-color: #f1a33c;
}
.button.operator:hover {
  background-color: #d98a1b;
}
.button.number {
  background: linear-gradient(15.46deg, #5425e1 26.3%, #7b5aff 86.4%);
}
.button.number:hover {
  background-color: #4d4d4d;
}
.button.special {
  background-color: #a5a5a5;
  color: black;
}
.button.special:hover {
  background-color: #8c8c8c;
}

.converter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #c1c7d1b2;
  padding: 40px;
  border-radius: 10px;
}

.converter-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

label {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3em;
  color: #e3e6ef;
}

.input-section,
.output-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.equal span {
  font-size: 20px;
}

select,
select:focus,
select:hover {
  padding: 5px;
  width: 100%;
  background-color: #313139;
  border: 0;
  color: #e3e6ef;
  height: 40px;
  font-size: 18px;
  text-transform: capitalize;
  outline: 0;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-arrow {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-arrow::after {
  content: "⇅";
  color: #e3e6ef;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.converter-inner input,
.converter-inner input:focus,
.converter-inner input:hover {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(227, 230, 239, 0.12);
  color: #e3e6ef;
  height: 55px;
  font-size: 20px;
  text-align: center;
  outline: 0;
}

.tab-container {
  display: flex;
  border-radius: 10px;
  background: #313139;
  padding: 5px;
  gap: 5px;
}

.tab-button {
  width: 50%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  padding: 11px 20px;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.tab-button.active {
  background-color: #161617;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content input,
.tab-content input:hover,
.tab-content input:focus {
  text-align: left;
}

.tab-content input:not(:last-child) {
  margin-bottom: 10px;
}

.text {
  width: 100%;
  display: inline-block;
}

.text span {
  color: #e3e6ef;
  opacity: 0.9;
  font-size: 20px;
  text-align: left;
}

.text #output-value-vw,
.text #output-value-vh {
  color: #fff;
  opacity: 1;
  font-size: 24px;
}

.gender-container {
  display: block;
  width: 100%;
}

.gender-container .gender {
  width: 20px !important;
  height: 20px !important;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.gender-container label {
  display: inline-flex;
  align-items: flex-start;
  gap: 0;
  font-size: 18px;
  line-height: 1.6em;
  width: auto !important;
}

.height {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.height input {
  margin: 0 !important;
}

.form-row input::placeholder {
  color: #e3e6ef;
  opacity: 1;
  text-align: right !important;
}

.form-row input::-ms-input-placeholder {
  color: #e3e6ef;
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bmi .output-section svg {
  width: 500px;
  height: 350px;
  color: #fff;
  fill: #fff;
  font-weight: 400 !important;
}

.svg-result {
  font-size: 25px !important;
  fill: #000 !important;
}

#arrow {
  transition: transform 0.5s ease-in-out;
}

.gender-row {
  flex-direction: row;
}

.checkbox-wrapper .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.checkbox-wrapper .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
}
.checkbox-wrapper .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
.checkbox-wrapper .cbx span:last-child {
  margin-left: 8px;
}
.checkbox-wrapper .cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b9b8c3;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.checkbox-wrapper .cbx:hover span:first-child {
  border-color: #3c53c7;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check-15 0.6s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child {
  color: #b9b8c3;
  transition: all 0.3s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}

/* From Uiverse.io by Gaurav-WebDev */
.btn-row {
  width: 100%;
}

.button {
  height: 55px;
  width: 100%;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #fff;
  overflow: hidden;
  border-radius: 30px;
  color: #fff;
  transition: all 0.5s ease-in-out;
  margin-top: 40px;
}

.btn-txt {
  z-index: 1;
  font-weight: 700;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.result-section {
  display: none;
  width: 100%;
}

.output {
  text-align: center;
}

.output #bmiText {
  font-size: 4rem;
}

.output #desc strong {
  text-transform: uppercase;
}

.bmi-scale {
  display: flex;
}

.bmi-scale div {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  border-top: 5px solid var(--color);
  padding: 10px;
}

.bmi-scale h4 {
  font-size: 0.75rem;
  color: slategray;
}

#desc {
  font-size: 30px;
  text-transform: capitalize;
  line-height: 1em;
}

:root {
  --underweight: orange;
  --normal: green;
  --overweight: lightcoral;
  --obese: crimson;
}

@media (max-width: 767px) {
  .header {
    margin: 20px 10px;
    padding: 20px;
  }

  .logo {
    width: 70%;
    font-size: 35px;
  }

  .navigation {
    width: 30%;
  }

  .hamburger {
    display: block;
    text-align: right;
  }

  .close_hamburger {
    position: absolute;
    left: auto;
    right: 20px;
    top: 20px;
    display: block;
  }

  .nav-list {
    flex-direction: column;
    position: absolute;
    top: -15px;
    left: 0;
    max-width: 260px;
    width: 100%;
    height: 100%;
    background-color: #101c44;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-list.active {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(0);
  }
  .nav-link {
    padding: 0;
    display: block;
  }
}

.password-addition {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.password-addition .checkbox-wrapper .cbx span:first-child {
  border-radius: 4px;
}

#length {
  padding: 8px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.password-container {
  margin: 5% 11% 0;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.display-pass {
  width: 100%;
  margin: 50px 0 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 5px;
}

.password-container h1 {
  font-size: 45px;
  font-weight: 500;
}

.password-container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.display-pass #pass {
  border: 0;
  outline: 0;
  font-size: 24px;
  width: 100%;
  padding: 0 20px 0 0;
}

.password-container #copy_text {
  width: 30px;
  cursor: pointer;
}

.password-container .gen {
  width: 28px;
  margin-right: 10px;
}

.password-container #button {
  border: 0;
  outline: 0;
  background: #019f55;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}

#alert {
  display: none;
  margin: -20px 0 15px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .password-container {
    margin: 11% 5%;
  }
}
